/CommandParseException.class
/GameException.class
/CommandExecuteException.class
/NotCatchablePositionException.class
/InvalidPositionException.class
/NotEnoughCoinsException.class
/RecordException.class
